.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
}

.card-footer {
  display: flex;
  justify-content: flex-end;
}

.page-div {
  padding: 20px;
  height: 100%
}

.fcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fccw {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

code {
  margin: 0 2px;
  padding: 3px 4px;
  border-radius: 3px;
  font-family: Menlo, Monaco, Consolas, 'Andale Mono', 'lucida console', 'Courier New', monospace;
  font-size: 0.9em;
  background-color: #f8f8fa;
}

html.dark {
  code {
    margin: 0 2px;
    padding: 3px 4px;
    border-radius: 3px;
    font-family: Menlo, Monaco, Consolas, 'Andale Mono', 'lucida console', 'Courier New', monospace;
    font-size: 0.9em;
    background-color: #303133;
  }
}

.tip {
  padding: 8px 16px;
  background-color: #409eff1a;
  border-radius: 4px;
  border-left: 5px solid #409eff;
  margin: 20px 0;
}
.tip_warning {
  padding: 8px 16px;
  background-color: #E6A23C1A;
  border-radius: 4px;
  border-left: 5px solid #E6A23C;
  margin: 20px 0;
}

.tip_success {
  padding: 8px 16px;
  background-color: #67C23A1A;
  border-radius: 4px;
  border-left: 5px solid #67C23A;
  margin: 20px 0;
}
.custom-block .custom-block-title {
  font-weight: 700;
}

